.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: beige;
  }
  
.navbar li {
    float: left;
  }
  
.navbar li a {
    display: block;
    font-family: Montserrat;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbar li a:hover{
    background-color: bisque;
  }
  
.active {
    background-color:beige;
  }